* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
/*    font-family:\534E\6587\7EC6\9ED1;*/
font-family: Helvetica, 'Hiragino Sans GB',
 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.total{
	position: absolute;

    /*width:649px;*/
    width:629px;
	height:890px;
	border:1px solid LightGrey;
	top:20px;
	
}

.left{
	width:30px;
	height:30px;
	background-color: LightCoral;
	float:left;
	position: absolute;
}
.right{
/*	width:609px;*/
width:589px;
	height:30px;
	background-color: LightCoral;
	margin-top: 20px;
	margin-left:40px;
}

.footer{
	background-color: LightCoral;
	margin-left:40px;
/*	width:609px;*/
width:589px;
	height:15px;
	margin-top:-8px;
}

.center{
	margin-top: 20px;
	margin-left:40px;
/*	width:609px;*/
width:589px;

}
.center h1{
	/*color: LightCoral;*/
	text-align: center;
}
.info h3{
	margin-top: 3px;
	color: LightCoral;
    display: inline-block;
}
.center .word{
	height:200px;
	width:420px;
/*	border:1px solid red;*/
	margin-top: 3px;
    display: inline-block;
    line-height: 28px;
}
.center .word a{
	color:LightCoral;
}
.center .photo{
	height:127px;
	width:88px;
	margin-right:65px;
	margin-top: 23px;
	/*border:1px solid green;*/
    float:right;
    background-image: url(photo.jpg);
}
.award {
	margin-top: 12px;
}
.award h3{
	color: LightCoral;
    display: inline-block;
}
.center .word-award{
	height:130px;
	width:500px;
/*	border:1px solid red;*/
	margin-top: 3px;
    line-height: 28px;
}

.center .word-award ul li{
	list-style-type: none;
}
.skill {
	margin-top: 16px;
}
.skill h3{
	color: LightCoral;
    display: inline-block;
}
.skill .word-skill{
	height:30px;
	width:500px;
/*	border:1px solid red;*/
	margin-top: 3px;
    line-height: 28px;
}
.show{
	margin-top: 3px;
}
.show h3{
	color: LightCoral;
    display: inline-block;
}
.show .show-skill{
	margin-top: 3px;
    line-height: 28px;
    width: 500px;
    height:59px;
}
.show .show-skill ul li{
	list-style-type: none;
}
.show .show-skill a{
	color:LightCoral;
}
.self {
	margin-top: 7px;
}
.self h3{
	color: LightCoral;
    display: inline-block;
}
.self .word-self{
	height:130px;
	width:500px;
/*	border:1px solid red;*/
	margin-top: 3px;
    line-height: 28px;
}